<p id="notice"><%= notice %></p>

<h1>Users</h1>
<h3>
<%= link_to 'Purchase Movies', movies_path %>
<%= link_to 'Purchase Seasons', seasons_path %>
<%= link_to 'List(Movies/Seasons)', shows_path %>
</h3>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Plot</th>
    </tr>
  </thead>

  <tbody>
    <% @shows.each do |show| %>
      <tr>
        <td><%= show.title %></td>
        <td><%= show.plot %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>